nav {
    background-color: $primary-col;
    height: 72px;
    line-height: 72px;

    img {
        height: auto;
        width: auto;
        max-height: 80px;
        max-width: 200px;
        @include desktop {
        max-height: 90px;
        max-width: 220px;
        position: relative;
        left: 20px;
        top: 10px;
        }
    }
    a {
        color: $secondary-col;
    }
    form{
        background-color: $primary-col;
    }
    .nav-wrapper .input-field input[type=search] {
        height: 62px!important;
    }
}
.sidenav{
    padding-top: 40px;
    background-color: $secondary-col;

    li>a {
        @include side-nav-style;
    }
    form{
        @include side-nav-style;
        background-color: $secondary-col;
        border: none;
        border-left: 5px solid $primary-col;
        border-radius: 5px;

        input[type=search]:not(.browser-default){
            border-bottom: none;
        }
    }
}