* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #090000;
  font-family: "PT Serif", "Arial";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

nav {
  background-color: #31040c;
  height: 60px;
  line-height: 60px;
}

nav a {
  color: #e3af0b;
}

.sidenav {
  padding-top: 40px;
  background-color: #e3af0b;
}

.sidenav li > a {
  padding: 0 28px;
  margin: 16px;
  font-size: 1.2rem;
  font-weight: 600;
  border-left: 5px solid #31040c;
  border-radius: 5px;
  color: #31040c;
}

.slate-img {
  background: url(../../images/cinema.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 50vh;
}

.slate-img .slate-content {
  background-color: #31040c;
  color: #e4dcda;
  position: absolute;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.slate-img h1 {
  margin: .4rem 4rem;
  border-radius: 10px;
  margin: 1.4rem 1.5rem;
  color: #e3af0b;
}

.slate-img blockquote {
  border-left: 5px solid #e4dcda;
  margin: 2rem;
  border-radius: inherit;
  font-size: 1.1rem;
}

footer ul.list-one > li {
  display: inline-block;
  margin: .8rem;
}

footer a {
  color: #989898;
  -webkit-transition: .5s all;
  transition: .5s all;
}

footer a:hover {
  color: #e3af0b;
}

.hoverable:hover {
  -webkit-box-shadow: 0 8px 17px 0 #fafafa78, 0 6px 20px 0 #fafafa78;
  box-shadow: 0 8px 17px 0 #fafafa78, 0 6px 20px 0 #fafafa78;
}

.card .card-image {
  max-height: 240px;
  min-height: 240px;
  overflow: hidden;
  background-color: #090000;
}

.card .card-image .card-title {
  color: #e4dcda;
  top: 0px;
  bottom: auto;
  padding: 5px;
  background-color: #000000ba;
  -webkit-box-shadow: 0 4px 7px 0 #000000ba, 0 3px 10px 0 #000000ba;
          box-shadow: 0 4px 7px 0 #000000ba, 0 3px 10px 0 #000000ba;
}

.card .card-content {
  background-color: #31040c;
  color: #e3af0b;
  border-radius: 0;
  min-height: 240px;
  max-height: 240px;
  overflow: hidden;
}

.card .card-content p {
  font-size: 1.4rem;
}

.card .card-action {
  background-color: #31040c;
}

.card .card-action:last-child {
  border-radius: 0;
}

.card:first-child {
  margin: 2rem 0 1rem 0;
}

.banner {
  margin: 0;
  color: #e3af0b;
  background: #31040c;
  font-family: "PT Serif", "Arial";
  padding: 0.5rem 1.4rem;
}

.home-btn {
  position: relative;
  left: 50%;
  margin-left: -68px;
  top: 55%;
  color: black;
  text-shadow: 0 0 8px black;
}

form {
  background-color: #e4dcda;
}

form .input-field > label {
  color: black;
}

form input[type=text]::-webkit-input-placeholder {
  color: #a9a9a9;
}

form input[type=text]:-ms-input-placeholder {
  color: #a9a9a9;
}

form input[type=text]::-ms-input-placeholder {
  color: #a9a9a9;
}

form input[type=text]::placeholder {
  color: #a9a9a9;
}

form input[type=range] {
  border: 1px solid #e3af0b;
}

.movie-container {
  background-color: #490612;
}

.movie-container p {
  background-color: #31040c;
  color: #e3af0b;
  padding: 0.7rem;
  margin: .2rem;
  border-radius: 4px;
}

.movie-container h4 {
  font-size: 1.4rem;
  color: #a9a9a9;
  text-shadow: 0 0 2px #000000;
  margin-left: 0.4rem;
}

.movie-container a {
  margin-bottom: 1.2rem;
}

div.col > ul.pagination {
  padding: 1.4rem 0 0 0;
}

div.col > ul.pagination li {
  height: 40px;
}

div.col > ul.pagination li a {
  color: #e3af0b;
}

div.col > ul.pagination li.active {
  padding: .5rem;
}

h2 {
  color: #e3af0b;
  font-size: 2rem;
  margin-left: 1.2rem;
}

strong {
  font-weight: 900;
}
/*# sourceMappingURL=main.css.map */