//forms
form {
    background-color: $off-white;
    border: 5px solid darken($secondary-col, 10%);
    border-radius: 3%;
    .row {
        padding: 1rem;
    }
    .input-field>label {
        color:black;
        font-size: 1.1rem;
    }
    input[type=text]::placeholder {
        color:$light-col;
    }
    input[type=range] {
        border: 1px solid $secondary-col;
    }
}

.form-row {
    border: solid 10px #987506;
    border-radius: 10px;
    background-color: #977506;
}

//movie pages
.movie-container {
    background-color:$tert-col;

    p{
        background-color: $primary-col;
        color: $secondary-col;
        padding: 0.7rem;
        margin: .2rem;
        border-radius: 4px;
    }
    h4{
        font-size: 1.4rem;
        color: #a9a9a9;
        text-shadow: 0 0 2px #000000;
        margin-left: 0.4rem;
    }
    a{
        margin-bottom: 1.2rem;
    }
}

//pagination
div.col>ul.pagination {
    padding: 1.4rem 0 0 0;

    li a {
            color: $secondary-col;
        }
    li.active {
            padding: .5rem;
            a{
                line-height: 15px;
            }
    }
}