h2 {
    color:$secondary-col;
    font-size: 2.5rem;
    margin: 1.2rem;
    font-weight: 600;
}
strong{
    font-weight: 900;
}

.banner {
    margin: 0;
    color: $secondary-col;
    background: $primary-col;
    font-family: $main-font;
    font-weight: 600;
    padding: 1.4rem;
    border-bottom: 5px solid;
    border-radius: 10%;
}

.search {
    color: $secondary-col;
    background-color: $primary-col;
    margin: 2rem 1rem;
    padding: 1rem;
    font-size: 1.1rem;
    border-radius: 10px;
}