h2 {
    color:$secondary-col;
    font-size: 2rem;
    margin-left: 1.2rem;
}
strong{
    font-weight: 900;
}

.banner {
    margin: 0;
    color: $secondary-col;
    background: $primary-col;
    font-family: $main-font;
    font-weight: 600;
    padding: 1.4rem;
    border-bottom: 5px solid;
    border-radius: 10%;
}

.search-error {
    color: $secondary-col;
}