//colors
$primary-col:#901501;
$secondary-col:#e3af0b;
$tert-col: #5e1f24;
$off-white:#e4dcda;
$text-over: #000000ba;
$light-col:#a9a9a9;
$dark-col:#090000;
//fonts
$main-font:'PT Serif', 'Arial';
$second-font:'Arvo', serif;