//colors
$primary-col:#31040c;
$secondary-col:#e3af0b;
$tert-col:lighten($primary-col, 5%);
$off-white:#e4dcda;
$text-over: #000000ba;
$light-col:#a9a9a9;
$dark-col:#090000;
//fonts
$main-font:'PT Serif', 'Arial';
$second-font:'Arvo', serif;