<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{page_title}}</title>

  <!--fonts-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arvo:400,700&display=swap|PT+Serif&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!--materialise and styling-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/scss/main.css') }}">
  <!--jquery-->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
</head>

<body>

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="col-sch-one brand-logo">Tapes</a>
      <a href="#" data-target="burger" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ url_for('get_movies') }}">Home</a></li>
        <li><a href="{{ url_for('get_genres') }}">Genres</a></li>
        <li><a href="{{ url_for('add_movie') }}">Add Film</a></li>
      </ul>
    </div>
  </nav>
  <!--hamburger options-->
  <ul class="sidenav" id="burger">
    <li><a href="{{ url_for('get_movies') }}">Home</a></li>
    <li><a href="{{ url_for('get_genres') }}">Genres</a></li>
    <li><a href="{{ url_for('add_movie') }}">Add Film</a></li>
  </ul>

  <main>
      {% block content %}
      {% endblock %}
  </main>
    

    <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="grey-text text-lighten-2">Tapes</h5>
              <p class="grey-text text-lighten-2">Keep up to date with whats happening in our world!</p>
              <ul>
                  <li><a class="grey-text text-lighten-1" href="https://www.linkedin.com/in/matthew-titmuss-4a5480160/"><i class="material-icons">account_circle</i></a></li>
                  <li><a class="grey-text text-lighten-1" href="https://github.com/mattmarc44"><i class="material-icons">backup</i></a></li>
                  <li><a class="grey-text text-lighten-1" href="mailto:matthewmarctitmuss@yahoo.com"><i class="material-icons">email</i></a></li>
              </ul>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="grey-text text-lighten-2">Links</h5>
              <ul>
                <li><a class="grey-text text-lighten-1" href="https://mattmarcdev.com/contact.html">Help</a></li>
                <li><a class="grey-text text-lighten-1" href="https://mattmarcdev.com/contact.html">Contact Me</a></li>
                <li><a class="grey-text text-lighten-1" href="https://mattmarcdev.com/">About Us</a></li>
                <li><a class="grey-text text-lighten-1" href="www.google.com">Careers</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2019 Copyright
          <a class="grey-text text-lighten-3 right" href="https://en.wikipedia.org/wiki/Links_(golf)">More Links</a>
          </div>
        </div>
    </footer>
</body>
<!--materialise initiations-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../static/js/materialiseInits.js"></script>

</html>