<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tapes | {{page_title}}</title>

  <!--fonts-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arvo:400,700&display=swap|PT+Serif&display=swap" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <!--materialise and styling-->
  <link rel="stylesheet" href="{{ url_for('static', filename='materialize-src/sass/materialize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/scss/main.css') }}">
  <!--jquery-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>

  <nav>
    <div class="nav-wrapper">
      <a href="{{ url_for('get_movies') }}" class="brand-logo"><img src="{{ url_for('static', filename='images/logo-nav.png') }}" alt="brand logo"></a>
      <a href="#" data-target="burger" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{{ url_for('get_movies') }}">Home</a></li>
        <li><a href="{{ url_for('get_genres') }}">Genres</a></li>
        <li><a href="{{ url_for('add_movie') }}">Add Film</a></li>
        <li><form action="{{ url_for('title_search') }}" method="GET">
          <div class="input-field">
            <input id="search" type="search" name="search" required>
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
          </div>
        </form></li>
      </ul>
    </div>
  </nav>
  <!--hamburger options-->
  <ul class="sidenav" id="burger">
    <li><a href="{{ url_for('get_movies') }}">Home</a></li>
    <li><a href="{{ url_for('get_genres') }}">Genres</a></li>
    <li><a href="{{ url_for('add_movie') }}">Add Film</a></li>
    <li><form action="{{ url_for('title_search') }}" method="GET">
        <div class="input-field">
          <input id="search" type="search" name="search" required>
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form></li>
  </ul>

  <main>
      {% block content %}
      {% endblock %}
  </main>
    

    <footer class="page-footer">
        <div class="container">
          <div class="row center">
            <div class="col l6 s12">
                <a href="{{ url_for('get_movies') }}" class="brand-logo"><img src="{{ url_for('static', filename='images/logo-nav.png') }}" alt="brand logo"></a>
              <p class="grey-text text-lighten-2">Keep up to date with whats happening in our world!</p>
              <ul class="list-one">
                  <li><a href="https://www.linkedin.com/in/matthew-titmuss-4a5480160/"><i class="material-icons">account_circle</i></a></li>
                  <li><a href="https://github.com/mattmarc44"><i class="material-icons">backup</i></a></li>
                  <li><a href="mailto:matthewmarctitmuss@yahoo.com"><i class="material-icons">email</i></a></li>
              </ul>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="grey-text text-lighten-2">Links</h5>
              <ul>
                <li><a href="https://mattmarcdev.com/contact.html">Help</a></li>
                <li><a href="https://mattmarcdev.com/contact.html">Contact Me</a></li>
                <li><a href="https://mattmarcdev.com/">About Us</a></li>
                <li><a href="www.google.com">Careers</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          © 2019 Copyright
          <a class="right" href="https://en.wikipedia.org/wiki/Links_(golf)">More Links</a>
          </div>
        </div>
    </footer>
</body>
<!--materialise initiations-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="../static/js/materialiseInits.js"></script>

<script src="../static/js/ratings.js"></script>

</html>