{% extends 'base.html' %}
{% block content %}
<h2>Edit {{movie.movie_name}}</h2>
<div class="form-row row">
    <form action="{{ url_for('update_movie', movie_id=movie._id) }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="material-icons prefix">camera_roll</i>
                <input id="movie_name" name="movie_name" type="text" class="validate"
                    value="{{movie.movie_name}}">
                <label for="movie_name">Movie Name</label>
            </div>
            <div class="input-field col s12 m6">
                    <i class="material-icons prefix">movie_filter</i>
                <select id="genre" name="genre" class="select">
                    <option value="" disabled selected>Choose a genre</option>
                    <!--select element populated via jinja for loop-->
                    {% for item in genres %}
                    <!--preselects this films genre-->
                    {% if item.genre == movie.genre %}
                    <option value="{{item.genre}}" selected>{{item.genre}}</option>
                    {% else %}
                    <option value="{{item.genre}}">{{item.genre}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <label>Genre</label>
            </div>
        </div>
        <div class="row">
            <div class="form-description col s12">
                <h5>Short Film Description</h5>
                <p>Use This field to give a brief description of the film before giving a full plot synopsis.</p>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">chat</i>
                <input id="short_description" name="short_description" type="text"
                    class="validate" value="{{movie.short_description}}">
                <label for="short_description">Short Film Description</label>
            </div>
            <div class="form-description col s12">
                <h5>Full Film Description</h5>
                <p>Use This field to give a full description of the film remembering to avoid any spoilers!</p>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">chat</i>
                <input id="full_description" name="full_description" type="text"
                    class="validate" value="{{movie.full_description}}">
                <label for="full_description">Full Film Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">today</i>
                <input id="release_date" name="release_date" type="text" class="datepicker"
                    value="{{movie.release_date}}">
                <label for="release_date">Release Date</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <p class="range-field">
                    <i class="material-icons prefix">timer</i>
                    <input type="range" id="run_time" name="run_time" min="0" max="300" value="{{movie.run_time}}" />
                </p>
                <label class="active" for="run_time">Run Time (minutes)</label>
            </div>
            <div class="input-field col s12 m6">
                <p class="range-field">
                    <i class="material-icons prefix">local_play</i>
                    <input type="range" id="rating" name="rating" min="0" max="5" value="{{movie.rating}}" />
                </p>
                <label class="active" for="rating">Rating</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">movie_creation</i>
                <input id="director" name="director" type="text" class="validate"
                    value="{{movie.director}}">
                <label for="director">Director</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">insert_photo</i>
                <input id="picture" name="picture" type="text" value="{{movie.picture}}">
                <label class="active" for="picture">Add Picture (URL)</label>
            </div>
        </div>
        <div class="row">
            <div class="col s6 offset-s9">
                <button class="btn btn-large waves-effect waves-light" type="submit" name="action">Edit
                    <i class="material-icons right">create</i>
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}