{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        {% for item in genres %}
            <div class="col s12 m6">
                <div class="card hoverable">
                    <div class="card-image">
                        <img src="../static/images/{{item.genre}}.jpg" alt="{{item.genre}}">
                        <span class="card-title">{{item.genre}}</span>
                    </div>
                    <div class="card-action">
                        <a href="{{ url_for('genre_search', search_id=item.genre) }}">Search {{item.genre}}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}