{% extends 'base.html' %}
{% block content %}
<div class="slate-img">
    <div class="slate-content">
        <h1>Welcome!</h1>
        <blockquote>welcome to tapes! Feel free to explore our collections of films and stuff. Something not there? Just
            add it! Seen a typo? fix it!</blockquote>
    </div>
    <a class="waves-effect waves-light btn btn-large home-btn hide-on-small-only"
        href="{{ url_for('get_genres') }}">explore</a>
</div>
<div>
    <h2 class="banner">Titles</h2>
</div>
<ul class="pagination">
    <li class="waves-effect"><a href="{{ movies.prev_url }}"><i class="material-icons">chevron_left</i></a></li>

    {% for i in range(1, length+1) %}
        {% if i == page_num %}
        <li class="active"><a href="{{ movies.current_url }}">{{ i }}</a></li>
        <!-- TODO: MAKE PAGENUMBER BUTTON URLS -->
            {% else %}
            {% if i > page_num %}
                <li class="waves-effect"><a href="{{ movies.page_up_url }}">{{ i }}</a></li>
            {% elif i < page_num %}
                <li class="waves-effect"><a href="{{ movies.page_down_url }}">{{ i }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}
    <li class="waves-effect"><a href="{{ movies.next_url }}"><i class="material-icons">chevron_right</i></a></li>
</ul>
{% for movie in movies.result %}
<div class="row">
    <div class="col s12 m7">
        <div class="card hoverable">
            <div class="card-image">
                {% if movie.picture %}
                <img src="{{movie.picture}}">
                {% else %}
                <img src="../static/images/test.svg">
                {% endif %}
                <span class="card-title">{{movie.movie_name}}</span>
            </div>
            <div class="card-content">
                <p><strong>genre: </strong>{{movie.genre}}</p><br>
                <p>{{movie.short_description}}</p>
            </div>
            <div class="card-action">
                <a href="{{ url_for('movie_page', movie_id=movie._id) }}">see more</a>
            </div>
        </div>
    </div>
</div>

{% endfor %}


{% endblock %}